.caso-edit-container {
  padding: 20px 0;
}

.form-control-plaintext {
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.list-group-item {
  border: none;
  padding: 0.75rem 0;
  background-color: transparent;
}

::ng-deep {
  .p-calendar,
  .p-dropdown {
    width: 100% !important;
  }
  
  .p-inputtext,
  .p-inputtextarea {
    width: 100%;
  }
}
