/* You can add global styles to this file, and also import other style files */

/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Bootstrap Icons */
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* FontAwesome */
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Ngx Toastr */
@import 'ngx-toastr/toastr';

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
}

.cursor-pointer {
  cursor: pointer;
}
